<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-socket-io/0.7.0/socket.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="/app/app.js"></script>
  </head>
  <body ng-app='rt-sensor' ng-controller='front'>
    <div class="container">
      <div class="row" style="padding: 70px">
        <h1 style="text-align:center"> Value of lm35 sensor = {{read}} </h1>
        <input type="submit" value="Temperature in celsius"
        onclick="window.location='http://localhost:8000/celsius';" />
        <input type="submit" value="Temperature in farenheit"
        onclick="window.location='http://localhost:8000/farenheit';" />
      </div>
    </div>
  </body>
</html>
